<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle de producto</title>
    <style>
        table {
            border-collapse: collapse;
        }

        table,
        th,
        td {
            border: 1px solid black;
            font-size: 1.7rem;
        }

        th,
        td {
            padding: 5px;
        }

        h1 {
            text-align: center;
        }

        table {
            margin: 5px auto;
        }

        img {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    </style>
</head>

<body>
    <h1>Detalle del producto</h1>
    <hr>
    <table>
        <tbody>
            <tr>
                <td>
                    <strong>Nombre </strong>
                </td>
                <td>{{nombreProducto}}</td>
            </tr>
            <tr>
                <td>
                    <strong>Precio </strong>
                </td>
                <td>{{precioProducto}}</td>
            </tr>
            <tr>
                <td>
                    <strong>Fecha de última compra </strong>
                </td>
                <td>{{fechaCompraProducto}}</td>
            </tr>
        </tbody>
    </table>
    <img src="{{imagen}}" alt="">
</body>

</html>