body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

/*
  Nota: si no usas el navbar, el siguiente código
  no es necesario
*/
body{
  padding-top: 70px;
}